:root{
    --primary-clr: rgb(190,191,189);
    --secundary-clr:#fff;

    --gradient: linear-gradient(90deg, rgba(190,191,189,1) 0%, rgba(84,140,140,0.9775559882155987) 51%, rgba(47,108,115,1) 86%);

    --primary-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    --heading-font-size: 2rem;
    --heading-letter-spacing: 1px;

    --subheading-font-size: 1.5rem;
    --subheading-font-weight: 700;

    --text-font-size: 1.2rem;
    --text-font-weight: 500;
    --text-letter-spacing: 1px;
}

h2{
    margin: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
} 

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}
/*-------------------------------Navbar styles-------------------------*/
.header{
    /*position: fixed;
    top: 0;
    left: 0%;*/
    width: 100%;
    background-color: var(--secundary-clr);
    box-shadow: var(--primary-shadow);
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-img{
    margin-right: 1.5rem;
}

.header-name{
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-items{
    display: flex;
}

li{
    list-style: none;
    padding: 1rem 1.5rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: black;
}

.header-items-sm{
    position: absolute;
    width: 100%;
    background-color: var(--secundary-clr);
    visibility: hidden;
}

.header-items-sm ul{
    display: flex;
    flex-direction: column;
    text-align: right;
}


/*--------------------Hero Section---------------------------------*/
.hero{
    background: var(--primary-clr);
    background: var(--gradient);
    height: 100vh;
}

.hero-content{
    padding: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-title{
    font-weight: 800;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.hero-sub{
    margin: 0;
}

.hero-text{
    font-weight: var(--text-font-weight);
    font-size: var(--text-font-size);
    letter-spacing: var(--text-letter-spacing);
    padding-top: 1.5rem;
}

.hero-socials{
    position: absolute;
    background-color: var(--secundary-clr);;
    top: 50%;
    right: 0;
    padding: .5rem;
    /*box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;*/
    box-shadow: var(--primary-shadow);
}

.hero-icon{
    padding: .5rem;
    display: inline-block;
    border-radius: 5px;
    font-size: 2rem;
}

.hero-icon:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*--------------------About Me---------------------------------*/
.about{
    background-color: var(--secundary-clr);;
    margin:5rem;
}

.about h3{
    margin-bottom: 1.2rem;
    font-size: var(--subheading-font-size);
    font-weight: var(--subheading-font-weight);
}

/*.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}*/

.about-info{
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
}

.about-info > p{
    line-height: 1.8;
    margin-bottom: 1rem;
}

.about-skills{
    display: flex;
    flex-wrap: wrap;
}

.about-skills > div{
    padding: 1rem 1.2rem;
    background: #BEBFBD;
    margin: .5rem;
    border-radius: 5%;
    font-size: 1rem;
    font-weight: 600;
}

/*---------------------------Projects------------------------------------*/
.project{
    /*
    background: rgb(190,191,189);
    background: linear-gradient(90deg, rgba(190,191,189,1) 0%, rgba(84,140,140,0.9775559882155987) 51%, rgba(47,108,115,1) 86%);
    */
    height: auto;
    margin: 5rem;
}

/*.project-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    justify-items: center;
    justify-content: center;
    align-content: center;
}*/

.project_{
    background-color: var(--secundary-clr);;
    padding: .5rem;
    box-shadow: var(--primary-shadow);
    border-radius: 5px;
}

.project_:hover{
    transform: translateY(-5px) translateX(-5px);
    font-weight: 600;
}

.project_ img{
    width: 20rem; 
    height: auto;
}


.project-sub{
    padding-top: 1rem;
    padding-left: 1rem;
    font-weight: var(--subheading-font-weight);
    font-size: var(--subheading-font-size);

}

.project-text{
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

/*------------------Modal---------------------*/
.modal-btn{
    /*border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 30px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    */
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    touch-action: manipulation;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.modal-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: 700;
}

.modal-container{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
}

.modal{
    background-color: var(--secundary-clr);;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.modal img{
    width: 20rem; 
    height: auto;
}

.modal h2{
    padding-top: 1rem;
    letter-spacing: var(--heading-letter-spacing);
    font-size: var(--heading-font-size);
}

.modal p{
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
    padding: 1rem;
}

/*-----------------Contact-----------------------*/
.contact{
    /*
    background: rgb(190,191,189);
    background: linear-gradient(90deg, rgba(190,191,189,1) 0%, rgba(84,140,140,0.9775559882155987) 51%, rgba(47,108,115,1) 86%);
    */
    background-color: var(--secundary-clr);;
    padding: 5rem; 
}

.contact-container{
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.contact-info{
    box-shadow: var(--primary-shadow);
    background: #fff;
    border-radius: 5px;
    max-width: 80rem;
    width: 95%;
    border: 5px;
    margin: 5rem auto 0 auto;
}

.contact p{
    text-align: center;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
}

.contact-info-input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.contact-info-input > div{
    padding-right: 2rem;
}

.contact-label{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem;
}

.contact-input{
    width: 100%;
    padding: 1rem;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-weight: 600;

}

.contact-btn{
    font-size: 1rem;
    padding: 6px 14px;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.contact-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: 700;
}

/*----------------------Media Query --------------------------------*/

@media (width <= 64rem){
    .project-content{
        display: grid;
        grid-gap: 2rem;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        justify-content: center;
        align-content: center;
    }

    .about-content{
        display: grid;
        grid-gap: 2rem;
    }

    .header-content{
        padding: 1rem 2rem;
    }

    .header-items{
        display: none;
    }

    #closeBar{
        display: none;
    }

}

@media (width >= 64rem){
    .project-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        justify-items: center;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .about-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10rem;
    }

    .header-main-bar{
        display: none;
    }

    .header-items-sm{
        display: none;
    }
}
